.theme__nav{
  position: fixed;
  z-index: 5;
}
.theme__nav--transition{
  box-shadow: none;
  padding: 0 45px;
}

.tech__item--image{
  width: 150px;
}

.index__about{
  transition: .3s ease all;
}
.index__about--icon{
  height: 80px;
}
.index__about--icon i{
  font-size: 50px;
}
.index__about--icon img{
  width: 50px;
}
.index__about--inner{
  max-width: 360px;
  margin: 0 auto;
}
.index__about--pprint{
  background-color: black;
  color: white;
  display: none;
  animation:
    typing 3.5s steps(1000, end),
    blink-caret .3s step-end infinite;
}
.index__about--container{

}
.index__hero--container{
  /*background-image: url('https://static1.squarespace.com/static/52327cc4e4b0d03caffb90f7/58a91c0f2994ca3986a1ae32/58a91f5fe4fcb58d2b063596/1489022354762/POH_10001.jpg?format=1500w');*/
  background-size: cover;
  background-repeat: no-repeat;
}
.index__hero-text{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FED766; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.index__about--text{
  font-size: 16px;
}
/*.index__hero--image{
  width
}*/

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
